  .header-container {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 15px; 
}
  
  .header-container h2 {
    margin: 0; /* Remove default margin */
  }

  /* your-component.component.css */
.sort-arrow {
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000; /* Default arrow color */
  vertical-align: middle;
}

.sort-arrow.asc {
  border-top-color: green; /* Ascending arrow color */
}

.sort-arrow.desc {
  border-top-color: red; /* Descending arrow color */
  transform: rotate(180deg);
}

.table th {
  cursor: pointer;
}

/* your-component.component.css */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.table {
  width: 100%;
  overflow-x: auto;
}

.table th, .table td {
  text-align: center;
}

/* Responsive utilities */
@media (max-width: 576px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .d-flex {
    flex-direction: column;
  }
}